<nav id="sidebar">
    <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
        </button>
    </div>
    <div class="img bg-wrap text-center py-4" style="background-image: url(/Templates/sidebar-09/images/bg_1.jpg);">
        <div class="user-logo">
            <div class="img" style="background-image: url('/Templates/sidebar-09/images/EMRE (2).jpeg');"></div>
            <h3>EMRE ŞENER</h3>
        </div>
    </div>
    <ul class="list-unstyled components mb-5">
        <li class="">
            <a href="/Dashoard/Index/"><span class="fa fa-home mr-3"></span> Dashoard</a>
        </li>
        <li>
            <a href="/Default/Index/"><span class="fa fa-random"></span>  Siteye Git</a>
        </li>
        <li>
            <a href="~/Templates/sidebar-09/cv/cv.pdf"><span class="fa fa-download mr-3 notif"><small class="d-flex align-items-center justify-content-center">5</small></span> Cv'mi indir'</a>
        </li>
        <li>
            <a href="/Education/Index/"><span class="fa fa-gift mr-3"></span> Eğitim Hayatım</a>
        </li>
        <li>
            <a href="/Category/Index/"><span class="fa fa-trophy mr-3"></span> Kategoriler</a>
        </li>
        <li>
            <a href="/Project/Index/"><span class="fa fa-cog mr-3"></span> Projelerim </a>
        </li>
        <li>
            <a href="/Abaout/Index/"><span class="fa fa-support mr-3"></span> Hakkımda</a>
        </li>
        <li>
            <a href="/Future/Index/"><span class="fa fa-bell"></span> Öne Çıkanlar</a>
        </li>
        <li>
            <a href="/Service/Index/"><span class="fa fa-hashtag"></span> Hizmetlerim</a>
        </li>
        <li>
            <a href="/Social/Index/"><span class="fa fa-check-square"></span> Sosyal Medya</a>
        </li>
        <li>
            <a href="#"><span class="fa fa-exchange"></span> Referanslar</a>
        </li>
        <li>
            <a href="#"><span class="fa fa-folder-open-o"></span> Ayarlar</a>
        </li>
        <li>
            <a href="#"><span class="fa fa-sign-out"></span> Çıkış Yap</a>
        </li>
    </ul>

</nav>
